@charset "utf-8";

/*
  函数
  sass定义了很多函数可供使用，当然你也可以自己定义函数，以@fuction开始。
  实际项目中我们使用最多的应该是颜色函数，而颜色函数中又以lighten减淡和darken加深为最，
  其调用方法为lighten($color,$amount)和darken($color,$amount)，它们的第一个参数都是颜色值，第二个参数都是百分比。
*/
$baseFontSize: 10px !default;
$gray: #ccc !default;

//pixels to rems
@function pxToRem($px) {
  @return $px / $baseFontSize * 1rem;
}

body {
  font-size: $baseFontSize;
  color: lighten($gray, 10%);
}
.test {
  font-size: pxToRem(16px);
  color: darken($gray, 10%);
}


